.l-title {
  padding-left: 24px;
}
.l-Enter-Text {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 26px !important;
  line-height: 130% !important;
  letter-spacing: -0.01em !important;
  color: #1e232c !important;
}
.l-description-Text {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #8391a1 !important;
}
.l-login-box-Minput {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-left: 23px;
}
.l-Email-input {
  background-color: #f7f8f9;
  border: 1px solid #dadada;
  border-radius: 8px;
  width: 330px !important;
  height: 56px !important;
}
.l-Email-input::placeholder {
  padding: 19px 0px 18px 20px !important;
}
.l-Send-Button {
  height: 56px;
  width: 330px;
  background-color: #ff6d6a !important;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 18px !important;
}
