.title {
  padding-left: 24px;
}
.Enter-Text {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 26px !important;
  line-height: 130% !important;
  letter-spacing: -0.01em !important;
  color: #1e232c !important;
}
.description-Text {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #8391A1 !important;
}
.login-box-Minput{
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-left: 23px;
}
.Email-input{
    background-color: #F7F8F9;
    border: 1px solid #DADADA;
    border-radius: 8px;
    width: 330px !important;
    height: 56px !important;
}
.Email-input::placeholder{
    padding: 19px 0px 18px 20px !important;
}
.Send-Button{
    height: 56px;
    width:330px;
    background-color: #FF6D6A !important;
    border-radius: 8px;
    color: #ffffff;
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
}

